body {
  background-color: #F90716;
}
h2 {
  color: #0E3EDA;
}
h3 {
  color: #FFA6D5;
}
h1 {
  color: #9A0680;
}
h4 {
  color: #FFA400;
}
h5 {
  color: #7A0BC0;
}
h6 {
  color: #99A799;
}
